<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>About</title>
</head>
<body>
    <%- include("partials/navbar", {page:"about"}) %>
    <main class="details">
        <section class="margined">
            <p>This is just a simple app with no error handling or input validation. You will easily break it if you try</p>
        </section>
    </main>
</body>
</html>

