<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>About</title>
</head>
<body>
    <%- include("partials/navbar", {page:"about"}) %>
    <main class="about details">
        <section class="margined centered">
            <p>This is just a simple app with no error handling. You will easily break it if you try, so please don't.</p>
            <p>
                I created an <a href="https://expressjs.com/" target="_blank">Express</a> app (using <a href="https://mongoosejs.com/" target="_blank">Mongoose</a>)
                and it's connected to <a href="https://www.mongodb.com/" target="_blank">MongoDB Atlas</a> using
                 <a href="https://ejs.co/" target="_blank">EJS</a> as a view engine. It's deployed from
                 <a href="https://github.com/PedroValente00" target="_blank">Github</a> to <a href="https://render.com/" target="_blank">Render</a>.
                 </p>
                 <br>
            <p><a href="https://github.com/PedroValente00" target="_blank">https://github.com/PedroValente00</a></p>
        </section>
    </main>
</body>
</html>