<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Delete all products</title>
</head>

<body>
    <%- include("partials/navbar", {page:"empty"}) %>
        <main class="aligned">
            <section>
                <p>Delete all products by emptying the database</p>
            </section>
            <form action="/empty?_method=DELETE" method="POST">
                <p><button type="submit">Delete all products</button></p>
            </form>
        </main>
</body>

</html>